.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-bottom: 1em;
  flex-direction: column;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.headerDate {
  flex-direction: column;
  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.buttonText {
  display: inline-block;
  margin-left: 0.5em;
  @media only screen and (min-width: 800px) {
    display: none;
  }
}

.categoryCardContainer {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  @media only screen and (min-width: 800px) {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.loading {
  display: flex;
  justify-content: center;
  width: 100%;
}