.container {
  font-style: italic;
  padding-bottom: 1em;
  animation: fadeIn 1s ease 1;
  animation-fill-mode: forwards;
  max-width: 1200px;
}

.content {
  text-align: left;
  margin-bottom: 0.5em;
}

.author {
  text-align: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}