.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #001529;
  @media only screen and (min-width: 800px) {
    flex-direction: row;
    padding: 1em 3.5em;
  }
}

.title {
  color: white;
  margin-bottom: 0;
  padding: 1em 0 0.5em;

  @media only screen and (min-width: 800px) {
    padding: 0;
  }
}

.menu {
  display: flex;
  li {
    width: auto !important;
  }
}

.user {
  color: white;
  @media only screen and (min-width: 800px) {
    display: block;
  }
}
