.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: white;
  margin-bottom: 0;
}

.menu {
  display: flex;
  li {
    text-overflow: initial !important;
  }
}
