.container {
  padding: 4em 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;

  @media only screen and (min-width: 800px) {
    padding: 4em 3em;
  }
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}