.actions {
  margin-left: 1em;
  opacity: 0;
}

.container {
  transition: 1s;
  animation: fadeIn 1s ease 1;
  animation-fill-mode: forwards;
  &:hover .actions {
    opacity: 1;
  }
}

.fadeOut {
  transition: 1s;
  animation: fadeOut 1s ease 1;
  animation-fill-mode: forwards;
}

.isCompleted {
  background-color: chartreuse;
}

.isDeleted {
  background-color: tomato;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}