.actions {
  margin-left: 1em;
  opacity: 1;

  @media only screen and (min-width: 800px) {
    opacity: 0;
  }
}

.container {
  animation: fadeIn 1s ease 1;
  animation-fill-mode: forwards;
  padding: 0.25em 0.5em;

  @media only screen and (min-width: 800px) {
    &:hover {
      background-color: rgba(0,0,0,0.05);
      .actions {
        opacity: 1;
      }
    }
  }
}

.isUrgent {
  font-weight: 800;
}

.fadeOut {
  transition: 1s;
  animation: fadeOut 1s ease 1;
  animation-fill-mode: forwards;
}

.isCompleted {
  transition: 1s;
  background-color: chartreuse;
  @media only screen and (min-width: 800px) {
    &:hover {
      background-color: chartreuse;
    }
  }
}

.isDeleted {
  transition: 1s;
  background-color: tomato;
  @media only screen and (min-width: 800px) {
    &:hover {
      background-color: tomato;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
