.actions {
  margin-left: 1em;
  opacity: 1;

  @media only screen and (min-width: 800px) {
    opacity: 0;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  cursor: pointer;

  @media only screen and (min-width: 800px) {
    &:hover {
      background-color: rgba(0,0,0,0.05);
      .actions {
        opacity: 1;
      }
    }
  }
}

.shouldFadeIn {
  animation: fadeIn 1s ease 1;
  animation-fill-mode: forwards;
}

.isUrgent {
  font-weight: 800;
}

.fadeOut {
  transition: 1s;
  animation: fadeOut 1s ease 1;
  animation-fill-mode: forwards;
}

.isCompleted {
  transition: 1s;
  background-color: rgba(chartreuse, 0.5);
  @media only screen and (min-width: 800px) {
    &:hover {
      background-color: rgba(chartreuse, 0.5);
    }
  }
}

.isDeleted {
  transition: 1s;
  background-color: rgba(tomato, 0.5);
  @media only screen and (min-width: 800px) {
    &:hover {
      background-color: rgba(tomato, 0.5);
    }
  }
}

.todoContent {
  display: inline;
}

.indicatorList {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;

  > * {
    margin-inline-end: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
