.content {
  padding: 1em;
  @media only screen and (min-width: 800px) {
    padding: 1em 3.5em;
  }
}

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 5em;
}