.categoryCardTitle {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
    align-items: center;
  }
}

.categoryCardDoneCount {
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 0.5em;
}

.emptyCategoryMessage {
  text-align: center;
  font-weight: 700;
}