.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 5em;
}

.logoIcon {
  display: inline-block;
  vertical-align: middle;
  svg {
    width: auto;
    height: 1.75em;
  }
}